<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">HOME <i class="fa fa-home"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'MapaKlinika_list' %}">LISTA KLINIKA <i class="fa fa-map"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'lista-funsionariu' %}">LISTA FUNSIONARIU <i class="fa fa-users"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'Lista-Arquivu'%}"><i class="fa fa-pencil"></i> LISTA RELATORIU SCANE  </a></li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">kARTA  </a>
			<div class="dropdown-menu" aria-labelledby="profile">
				<a class="dropdown-item" href="{% url 'kartaEntrasa_list' %}" ><i class="fa fa-list"></i> ENTRADA </a>
				<a class="dropdown-item" href="" ><i class="fa fa-bar-chart"></i> SAIDA </a>				
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RELATORIO </a>
			<div class="dropdown-menu" aria-labelledby="profile">
				<a class="dropdown-item" href="" ><i class="fa fa-list"></i> Tabular</a>
				<a class="dropdown-item" href="{% url 'relatoriu_chart' %}" ><i class="fa fa-bar-chart"></i> Grafiku</a>				
			</div>
		</li>
		<li class="nav-item"><a class="nav-link" href="{% url 'pdf_list'%}"><i class="fa fa-pencil"></i> INFORMASAUN </a></li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username|upper }}</a>
			<div class="dropdown-menu" aria-labelledby="profile">
				<a class="dropdown-item" href="{% url 'manageAccount' %}"><i class="fa fa-users"></i> Account</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
			</div>
		</li>
	</ul>
</div>
